.Nav {
  background: #093968;
  position: sticky;
  top: 0;
  z-index: 2;
  border-bottom: 1px solid var(--lightGrey);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.025);
  position: fixed;
  width: 100%;
  color: aliceblue;
  height: 90px;
  border-bottom: #093968;
}

.Nav--Container {
  display: flex;
  align-items: center;
  height: 7rem;
  margin-top: 10px !important;
}

.Nav--Links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-left: auto;
}

.Nav--Links > * + * {
  margin-left: 1rem;
}

.Nav .Logo {
  margin-right: 2rem;
  position: relative;
  height: auto;
}

.Nav--MenuButton {
  display: none !important;
}

.NavLink {
  padding: 0.5rem 1rem;
  display: block;
  font-weight: 500;
  transition: color 0.2s, border-bottom-color 0.2s;
  color: inherit;
  text-decoration: none;
  border-bottom: 2px solid;
  border-bottom-color: transparent;
}

.NavLink:hover,
.NavLink.active,
.NavLink:focus {
  color: var(--primary);
  border-bottom-color: currentColor;
}

.Nav--Group {
  position: relative;
  cursor: pointer;
}

.Nav--GroupParent {
  padding-right: 3rem;
}

.Nav--GroupParent::after {
  content: '';
  position: absolute;
  top: calc(50% - 0.2rem);
  right: 1rem;
  border-bottom: 2px solid var(--darkGrey);
  border-right: 2px solid var(--darkGrey);
  display: block;
  height: 0.8rem;
  width: 0.8rem;
  transition: 0.3s ease all;
  transform: translateY(-50%) rotate(45deg);
}

.Nav--GroupLinks {
  position: absolute;
  top: 100%;
  left: 0;
  width: auto;
  background: white;
  /* opacity: 0; */
  max-height: 0;
  overflow: hidden;
  transition: 0.3s ease all;
}

.Nav--Group.active .Nav--GroupLinks {
  max-height: 100vh;
  opacity: 1;
  transition: 0.6s ease all;
}

.Nav--Group.active .Nav--GroupParent::after {
  top: calc(50% + 0.2rem);
  transform: translateY(-50%) rotate(-135deg);
}

.Nav--GroupLink {
  display: block;
  position: relative;
  width: 15rem;
}

@media (max-width: 600px) {
  .Nav--Container {
    display: flex;
  }

  .Nav--MenuButton {
    display: block !important;
    margin-left: auto;
    z-index: 1;
  }
  .Nav .Logo {
    z-index: 1;
  }

  .Nav--Links {
    display: none;
    align-items: center;
    flex-direction: column;
    position: fixed;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #282D31;
    animation: Nav--Links 0.2s ease;
  }

  .Nav--Links > * + * {
    margin-left: 0;
    margin-top: 1rem;
  }

  .Nav-active .Nav--Links {
    display: flex;
  }

  .Nav-active .NavLink {
    animation: Nav--Link 0.3s ease-out;
    animation-fill-mode: both;
  }

  .Nav .NavLink {
    font-size: 2.5rem;
    font-weight: 300;
  }

  .Nav .NavLink:nth-of-type(2) {
    animation-delay: 0.1s;
  }
  .Nav .NavLink:nth-of-type(3) {
    animation-delay: 0.2s;
  }
  .Nav .NavLink:nth-of-type(4) {
    animation-delay: 0.3s;
  }
  .Nav .NavLink:nth-of-type(5) {
    animation-delay: 0.4s;
  }
  .Nav .NavLink:nth-of-type(6) {
    animation-delay: 0.5s;
  }
  .Nav .NavLink:nth-of-type(7) {
    animation-delay: 0.6s;
  }
  .Nav .NavLink:nth-of-type(8) {
    animation-delay: 0.7s;
  }
  .Nav .NavLink:nth-of-type(7) {
    animation-delay: 0.6s;
  }

  .Nav--GroupLinks {
    position: relative;
    text-align: center;
  }

  .Nav--GroupLinks .NavLink {
    font-size: 1.5rem;
    width: auto;
  }
}

@keyframes Nav--Link {
  from {
    transform: translate(0rem, 1rem);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes Nav--Links {
  from {
    opacity: 0;
  }
}

.Nav_logo{
  display: flex;
  color: #ffa81b  ;
}
.Nav_logo h1{
 margin-bottom: 0;
 font-size: 30px;
 color: #ffa81b !important;
}
.Nav_logo h2{
  font-size: 15px;
  color: #ffa81b !important;
  margin-top: -30px;
}
.rs-dropdown-item:hover{
  background-color: #00ccff6b;
}
.rs-dropdown-toggle, .rs-dropdown-toggle.rs-btn {
  position: relative;
  z-index: 5;
  padding-right: 32px;
  display: inline-block;
  outline: none;
  cursor: pointer;
  color: azure;
  font-weight: 500;
  font-size:16px
}
 



















@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
 
nav .drop-btn {
  width: 300px;
  background: #ffffff;
  border-radius: 15px;
  line-height: 55px;
  font-size: 18px;
  font-weight: 500;
  color: #364f6b;
  padding: 0 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
nav .drop-btn span {
  float: right;
  line-height: 50px;
  font-size: 28px;
  cursor: pointer;
}
nav .tooltip {
  position: absolute;
  right: 20px;
  bottom: -20px;
  height: 15px;
  width: 15px;
  background: #ffffff;
  transform: rotate(45deg);
  display: none;
}
nav .tooltip.show{
  display: block;
}

nav .wrapper {
  position: absolute;
  top: 65px;
  display: flex;
  width: 300px;
  overflow: hidden;
  border-radius: 15px;
  background: #ffffff;
  display: none;
  transition: all 0.3s ease;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
nav .wrapper.show {
  display: block;
  display: flex;
}

.wrapper ul {
  width: 400px;
  list-style: none;
  padding: 10px;
  transition: all 0.3s ease;
}
.wrapper ul li {
  line-height: 55px;
}
.wrapper ul li a {
  position: relative;
  color: #364f6b;
  font-size: 16px;
  font-weight: 600;
  padding: 0 10px;
  font-family: 'Nunito', sans-serif;
  display: flex;
  border-radius: 8px;
  align-items: center;
  text-decoration: none;
}
.wrapper ul li:hover a {
  background: #ffffff;
  color: #364f6b;
}
.wrapper ul li a:hover .icon {
  background: #c5e3f6;
  transform: rotate(360deg) scale(1.1);
  overflow: hidden;
  transition: all 0.3s ease;
}
ul li a .icon {
  height: 40px;
  width: 40px;
  margin-right: 13px;
  background: #ffffff;
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 50%;
}
ul li a .icon span {
  line-height: 45px;
  font-size: 20px;
  color: #364f6b;
}
ul li a:hover .icon span{
  color: #364f6b;
}
ul li a i {
  position: absolute;
  right: 10px;
  font-size: 25px;
  pointer-events: none;
}
.wrapper ul.setting-drop,
.wrapper ul.help-drop {
  display: none;
  margin: 0 auto;
  position: absolute;
}
.wrapper .arrow {
  padding-left: 10px;
  font-size: 20px;
  font-weight: 500;
  color: #364f6b;
  cursor: pointer;
}
.wrapper .arrow span {
  margin-right: 15px;
}
