

.programas_container{
    width: 80%;
    margin-left: 10%;
}.programas_container h5{
    color: #ccc;
    margin-top: 10px;
}
img {
    max-width:100%;
  }
  
.card-grid {
    width:100%;
  }
  .card-grid:after {
    content: "";
    display: table;
    clear: both;
  }
  
  
  
  .card-wrap {
    float:left;
    width:100%;
    padding:5px;
  }
  @media (min-width: 500px) {
    .card-wrap {
      width:50%;
    }
  }
  @media (min-width: 720px) {
    .card-wrap {
      width:25%;
    }
  }
  
  .programas_container .card {
   height: auto !important;
  }

  .card {
    background-color:white;
    border-radius:5px;
    border:1px solid #ccc;
    border-bottom:2px solid #ccc;
  }
  .card > div {
    padding:0 1em;
  }