.slick-next {
    right: 0;
}

@media (max-width: 600px) {
        .homeSlider{
            margin-top: -230px;
            margin-bottom: 60px;
        }
        .sliderContent{
            height: 90px;
        }
        .slick-next {
            right: 0;
            display: none !important;
        }
    }